*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

 
    color: white;
}
body{
    background-color: black;
}
.card{
    width: 90%;
    max-width: 470px;
    background: #428096;
background: linear-gradient(90deg, rgba(66, 128, 150, 1) 100%, rgba(40, 54, 133, 1) 50%, rgba(57, 72, 204, 1) 75%);
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
   



}
.weather-icon{
    width: 170px;
    height: 170px;
  margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;

}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
    
}
.weather img{
    width: 40px;
    height: 80px;
    margin-right: 10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;

}
.humidity,.wind{
    font-size: 28px;
    margin-top: -6px;
}