*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    width: 100vw;
    height: 100vh;
   
}
.box{
    display: flex;
    position: absolute;
    left: 35%;
    top: 20%;
    width: 500px;
    height: 500px;
    background-color: white;


}
.frame{
    display: flex;
    font-size: 30px;
}
button{
    width: 60px;
    height: 20px;
    margin-top: 50px;
    gap: 30px;
    
}